<h1><%= t('users.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <th><%= User.human_attribute_name(:account) %></th>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <th><%= User.human_attribute_name(:updated_at) %></th>
      <th><%= User.human_attribute_name(:functions) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <a href="/users/<%= user.id %>">
            <%= user.account %>
          </a>
        </td>
        <td>
          <%= user.created_at %>
        </td>
        <td>
          <%= user.updated_at %>
        </td>
        <td>
          <%= link_to t('shared.links.show'), user %>
          <%= link_to t('shared.links.edit'), edit_user_path(user) %>
          <%= link_to t('shared.links.delete'), user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('shared.links.new'), new_user_path %>
<%= link_to t('shared.links.logout'), logout_path, method: :delete %>